/* About Section */
.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Experience Section */
#experience {
  padding-bottom: 2rem;
}

/* Education Section Styling */
#education {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Education Item Styling */
.education-item {
  background-color: #0a111b; /* Darker background for each education item */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Hover effect for education item */
.education-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Icon inside education item */
.education-item svg {
  width: 30px;
  height: 30px;
  fill: white;
}

/* Education Item Styling */
.experience-item {
  background-color: #0a111b; /* Darker background for each education item */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Hover effect for education item */
.experience-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Title Styling */
h2,
h4 {
  font-weight: bold;
  color: white;
}

/* Icon inside education item */
.experience-item svg {
  width: 24px;
  height: 24px;
  fill: white;
}

#certification {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.certification-item {
  background-color: #0a111b; /* Darker background for each education item */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.certification-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.certification-item svg {
  width: 24px;
  height: 24px;
  fill: white;
}
#skills {
  scroll-margin-top: 2rem;
}

#education {
  scroll-margin-top: 4rem;
}
#experience {
  scroll-margin-top: 2rem;
}
#about {
  scroll-margin-top: 2rem;
}

/* Projects Section */
#projects {
  scroll-margin-top: 2rem; /* Adjust this value to match your header's height */
}

#modalImage {
  object-fit: cover; 
  object-position: center;
  width: 90%; 
  height: 90%; 
}

/* Optional: Add background color to modal content area */
.modal-content {
  /* Replace with the actual selector for your modal content */
  background-color: #f0f0f0; /* Example: Light gray */
}
